<app-login-layout (submit)="submit()" (navigate)="navigate()" [disablePrimaryButton]="!cadastrarForm.valid">

  <form [formGroup]="cadastrarForm">
    <app-input-login formControlName="username" formName="email" type="email" placeholder="Informe seu email"
      icon="email"></app-input-login>
    <app-input-login formControlName="password" formName="password" type="password" placeholder="Informe sua senha"
      icon="lock"></app-input-login>
    <app-input-login formControlName="passwordConfirm" formName="passwordConfirm" type="password"
      placeholder="Confirme sua senha" icon="check"></app-input-login>

  </form>

</app-login-layout>
