<div class="body-table">
  <div class="d-flex mb-1 justify-content-end">
    <button [routerLink]="rotaAdicionar" class="button" mat-flat-button>
      <mat-icon>add</mat-icon>
      {{nameButton}}
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <th class="custom-header" mat-header-cell *matHeaderCellDef>{{ getColumnTitle(column) }}</th>
      <td mat-cell *matCellDef="let element">{{ getCellValue(column, element) }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
