@import "../../../../styles/variables.scss";

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 50px;
  height: 50px;
}

.body-page {
  width: 100%;
}

.icon {
  color: white;
}

.toolbar {
  background: linear-gradient(to right, $primary-color, rgb(3, 148, 158));
  color: white;
}
.example-container {
  width: auto;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
  background: #835454;
}

.active {
  border-bottom: 3px solid rgb(7, 221, 236);
  font-weight: 600;
}

.header {
  padding: 0;
}