@import "../../../styles/variables.scss";

.card {
  height: 100%;
  width: 100%;
  padding: 1em;
}

.header-card {
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);
  color: $primary-color;
}

.body-header {
  display: flex;
  align-items: center;
}
