<app-login-layout>

  <form [formGroup]="loginForm">
    <div class="input-group input-group-sm mb-3">
      <input type="text" placeholder="Informe seu email" aria-label="Informe seu email" class="form-control"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      <span class="input-group-text bg-icon" id="inputGroup-sizing-sm">
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
      </span>
    </div>
    <div class="input-group input-group-sm mb-3">
      <input placeholder="Informe sua senha" aria-label="Informe sua senha" type="text" class="form-control"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      <span class="input-group-text bg-icon" id="inputGroup-sizing-sm">
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="lock"></mat-icon>
      </span>
    </div>
  </form>

</app-login-layout>
