.card {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 144, 184);
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-headr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 100%;
}

.card-header .name {
  margin-left: 8px;
  font-size: 1.2em;
  white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  max-width: 100%;
}

.card-value {
  font-size: 2em;
  font-weight: 500;
}
